.DS_Store
.env
.env.*
.git/
.github/
.gitignore
.npmrc
.vscode/
.tmp/
*.tgz
node_modules/
native/
scripts/
src/
test/
examples/
coverage/
out/
*.tsbuildinfo
.gcc-ts-bundler-vite/
package-lock.json
yarn.lock
bun.lockb
